.vscode/settings.json
makefile
main
Practicals/Practical 1/.vscode/settings.json
*.zip
*.pdf
Practicals/Practical 5/.vscode/c_cpp_properties.json
Practicals/Practical 5/.vscode/launch.json
Practicals/Practical 5/.vscode/settings.json
.gitignore
